doctype html
html
head
	link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
	link(rel="stylesheet" href="../main.css")

body
	.container
		.jumbotron
			h1 Dashboard
			p Edit stuff!
			img(src="#{user}")
		hr
	script(src="https://code.jquery.com/jquery-2.1.4.min.js")
	script(src="../script.js")
